@model BookStoreProject.UI.UseCases.Models.BookDetailDto

@{
    ViewData["Title"] = "Dane książki";
}

<h1>@Model.Title</h1>

<a asp-controller="Home" asp-action="Index" class="text-danger btn-link">< Powrót</a>
<a asp-action="DeleteBook" asp-route-id="@Model.Id" class="text-danger float-right">
    <button class="btn-outline-primary float-right">Usuń książkę</button>
</a>

<br/>
<table>
    <tr>
        <td class="col-xl-6 align-top">
            @{
                var modelImageName = Model.ImagePath;
                if (modelImageName is null)
                {
                    <a asp-action="AddImage" asp-route-id="@Model.Id">
                        <img src="/Images/AddImage.webp" width="300px" class="bg-white"/>
                    </a>
                }
                else
                {
                    <img src="/Images/@modelImageName" asp-append-version="true" width="300px"/>
                }
            }
        </td>
        <td>
            <table class="float-lg-left">
                <tr>
                    <th style="min-width: 100px ">Cena</th>
                    <th style="min-width: 100px ">Autor</th>
                    <th style="min-width: 100px ">ISBN</th>
                    <th style="min-width: 100px">Gatunek</th>
                </tr>
                <tr>
                    <td class="text-left">@Model.Price</td>
                    <td class="text-left">@Model.AuthorFullName</td>
                    <td class="text-left">@Model.ISBN</td>
                    <td class="text-left">@Model.Genre</td>
                </tr>
            </table>
            <div>
                <br/>
                <br/>
                <br/>
            </div>
            <table>
                <tr>
                    <div class="review-car" style="width: 600px; display: flex; align-items: center; justify-content: center">
                        <a asp-action="AddComment" asp-route-id="@Model.Id">
                            <img src="/Images/AddOpinion.png" width="50px" alt="Dodaj opinię"/>
                        </a>
                    </div>
                </tr>
                <tr>
                    <div style="overflow-y: scroll; height: 400px; width: auto;">
                        @foreach (var item in Model.OpinionsDtos.OrderBy(x => x.CreatedAt))
                        {
                            @* <div class="reviews-body"> *@
                            <div class="review-card" style="width: 600px">
                                <span class="reviewer-name">@item.Author</span>
                                <span class="reviewer-name">@item.CreatedAt</span>
                                <p style="font-size: 11px">@item.Content</p>
                            </div>
                            @* </div> *@
                        }
                    </div>
                </tr>
            </table>
        </td>
        <div class="tab-pane border-right col-4">

        </div>

    </tr>
</table>