@model BookStoreProject.UI.UseCases.Models.BookDetailDto

@{
    ViewData["Title"] = "Dane książki";
}

<h1>@Model.Title</h1>


<table>
    <tr>
        <td class="col-xl-6 align-top">
            <img src="/Images/uszatek.jpg" asp-append-version="true" width="300px"/>
        </td>
        <td>
            <table class="float-lg-left">
                <tr>
                    <th class="text-left col-4">Cena</th>
                    <th class="text-left col-4">Autor</th>
                    <th class="text-left col-4">ISBN</th>
                    <th class="text-left col-4">Gatunek</th>
                </tr>
                <tr>
                    <td class="text-left">@Model.Price</td>
                    <td class="text-left">@Model.AuthorFullName</td>
                    <td class="text-left">@Model.ISBN</td>
                    <td class="text-left">@Model.Genre</td>
                </tr>
            </table>
            <div>
                <br/>
                <br/>
                <br/>
            </div>
            <table>
                @foreach (var item in Model.OpinionsDtos.OrderBy(x=>x.CreatedAt))
                {
                    <tr>
                        <div>
                            <div class="font-weight-bold" style="font-size: small;">
                                @item.Author at @item.CreatedAt
                            </div>
                            <div>
                                @item.Content
                            </div>
                            <br/>
                        </div>
                    </tr>
                }
                <tr>
                    <a asp-action="AddComment" asp-route-id="@Model.Id">
                        <button>Dodaj opinię</button>
                    </a>
                </tr>
            </table>
        </td>
        <div class="tab-pane border-right col-4">

        </div>

        <a asp-controller="Home" asp-action="Index" class="text-danger btn-link">< Powrót</a>
    </tr>
</table>