@model BookStoreProject.UI.UseCases.Models.BookDetailDto

@{
    ViewData["Title"] = "Dane książki";
}

<h1>@Model.Title</h1>

<a asp-controller="Home" asp-action="Index" class="text-danger btn-link">< Powrót</a>
<br/>
<table>
    <tr>
        <td class="col-xl-6 align-top">
            @{
                var modelImageName = Model.ImagePath;
                if (modelImageName is null)
                {
                    <a asp-action="AddImage" asp-route-id="@Model.Id">
                        <img src="/Images/AddImage.webp" width="300px" class="bg-white"/>
                    </a>
                }
                else
                {
                    <img src="/Images/@modelImageName" asp-append-version="true" width="300px"/>
                }
            }
        </td>
        <td>
            <table class="float-lg-left">
                <tr>
                    <th class="text-left">Cena</th>
                    <th class="text-left">Autor</th>
                    <th class="text-left">ISBN</th>
                    <th class="text-left">Gatunek</th>
                </tr>
                <tr>
                    <td class="text-left">@Model.Price</td>
                    <td class="text-left">@Model.AuthorFullName</td>
                    <td class="text-left">@Model.ISBN</td>
                    <td class="text-left">@Model.Genre</td>
                </tr>
            </table>
            <div>
                <br/>
                <br/>
                <br/>
            </div>
            <table>
                <div class="reviews-body">
                    @foreach (var item in Model.OpinionsDtos.OrderBy(x => x.CreatedAt))
                    {
                        <tr>
                            <div class="review-card" style="width: 600px">
                                <span class="reviewer-name">@item.Author</span>
                                <span class="reviewer-name">@item.CreatedAt</span>
                                <p style="font-size: 11px">@item.Content</p>
                            </div>
                        </tr>
                    }
                </div>
                <tr>
                    <a asp-action="AddComment" asp-route-id="@Model.Id">
                        <button>Dodaj opinię</button>
                    </a>
                </tr>
            </table>
        </td>
        <div class="tab-pane border-right col-4">

        </div>

    </tr>
</table>